apiVersion: apps/v1
kind: Deployment
metadata:
  name: product-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: product-service
  template:
    metadata:
      labels:
        app: product-service
    spec:
      containers:
        - name: product-service
          image: willchrist/product-service:39f11a7
          ports:
            - containerPort: 8001
          envFrom:
            - configMapRef:
                name: ecommerce-config
